* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  /* 16px */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

:root {
  --fontColer: #094183;
  ;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 15px;
  line-height: 1.6;
  /*tao khoảng cách giauwx các phần tử */
  color: #333;
}

a {
  text-decoration: none;
  /*bỏ gạch chân*/
  color: #333;
}

.container {
  /* max-width: 1300px; */
  margin: 0 10%;
  /*trên dưới 0 , trái phải auto */
  padding: 0 20px;
  display: flex;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* header styles */

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* banner styles */
.banner {
  background: url('../images/gioithieu.gif') no-repeat center center;
  /* background: #035691; */
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-text {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 3px 3px 6px #07135a;
}

.banner-text h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}

.banner-text p {
  font-size: 16px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: var(--fontColer);
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #fff;
  color: var(--fontColer);
  border: 1px solidvar(--fontColer);
  text-shadow: none;
}

/* feature styles */
.feature {
  padding: 80px 0;
  background-color: #f6f6f6;
}

.feature-box {
  text-align: center;
  margin-bottom: 50px;
}

.feature-box h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.icon {
  display: inline-block;
  background-color: var(--fontColer);
  color: #fff;
  padding: 20px;
  border-radius: 40%;
  margin-bottom: 30px;
}

/* .icon img {
    height: 30px;
  } */
div.text {
  background-color: #f2f2f2;
  padding: 10px;
  display: none;
  border: 3px solid #333;
  box-shadow: 2px 2px 5px #07135a;
  border-radius: 10%;
  font-size: 15px;
  padding: 30px;
}

/* .selectedText, .text {
    transition: opacity 2s ease;
    opacity: 1;
  } */
.feature-box p {
  font-size: 16px;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* intru styles */
.introduce {
  background-color: #f2f2f2;
}

.introduce .topic {
  width: 39%;
  text-align: center;
}

hr.thanhnho {
  width: 60%;
  height: 2%;
  background-color: var(--fontColer);
  border-radius: 10px;
  margin: 1px 20%;
  /* align-items: center; */
}

.introduce .topic h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30%;
  /* border-bottom: 2px solid #333; */
}

.introduce .info {
  width: 60%;
  padding: 2% 0px;
}

.introduce .info p {
  margin-bottom: 20px;
}

/* Passion + Video */
.section-join__left {
  margin-left: 80px;
  padding: 48px 20px;
}

.passion {
  background-color: var(--fontColer);
}

.passion-center {
  margin: 0 auto;
  background-color: var(--fontColer);
  display: flex;
  padding: 7rem 20px;
}

.passion-content {
  width: 40%;
}

.passion-content .passion-h2,
.passion-p {
  color: #fff;
  font-size: 1.3rem;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* prizer styles */
.prizes .prize .info {
  width: 50%;
  padding: 0 5% 10% 5%;
  /* text-align: center; */
}

.prizes .prize .info p {
  margin-top: 2%;
}

.prizes .prize .prize-image {
  width: 50%;
  overflow: hidden;

}

.prizes .prize .container .prize-image img {
  width: 100%;
  height: 550px;
  transition: all 0.3s ease;

}

.prize-image img:hover {
  transform: scale(1.1);
}

/* .prizes h3 {
    border: 10px solid #07135a;
    padding: 0 20px;
        border: 2px solid gold;
        background-color: #ccc;
        color: #333;
        padding: 10px;
        text-align: center;
  } */

.prizes .title h3 {
  margin: 2% 10%;
  padding: 0 20px;
  text-align: center;
  font-size: 1.15rem;
}

.prizes hr.thanhlon {
  width: 60%;
  height: 10px;
  background-color: var(--fontColer);
  border-radius: 10px;
  margin: 0 20% 2% 20%;
}


/* ---------------------------------------------------------------------------------------------------------------------------- */
/* footer styles */