* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    /* 16px */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

:root {
    --fontColer: #094183;
    --coursesColor: #edf2f5;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-size: 15px;
    line-height: 1.6;
    /*tao khoảng cách giauwx các phần tử */
    color: #333;
}

a {
    text-decoration: none;
    /*bỏ gạch chân*/
    color: #333;
}

.container {
    /* max-width: 1300px; */
    margin: 0 10%;
    /*trên dưới 0 , trái phải auto */
    padding: 0 20px;
    display: flex;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
/* header styles */

/* -------------------------------------------------------------------------------------------------------------------------------- */
/* banner styles */
.banner {
    /* background: url('images/truong-dai-hoc-mo.webp') no-repeat center center; */
    background: #035691;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-text {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 3px 3px 6px #07135a;
}

.banner-text h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-text p {
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: var(--fontColer);
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #fff;
    color: var(--fontColer);
    border: 1px solidvar(--fontColer);
    text-shadow: none;
}

/* -------------------------------------- */
/* phần bức thư */
.mess {
    width: 40%;
    background-color: #a6c0d3;
}

.input-container {
    position: relative;
    margin: 40px 2%;
    /* display: none; */
    /* max-width: 500px; */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

input[type="text"]:focus+label,
input[type="text"]:valid+label {
    top: -10px;
    transform: translateY(0%);
    font-size: 15px;
    font-weight: bold;
    color: var(--fontColer);
    /* box-shadow:  10px 10px 10px var(--coursesColor); */
}

.mess button {
    background-color: var(--fontColer);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 35%;
    margin-left: 120px;
}

.mess button:hover {
    background-color: #035691;
    border-radius: 100px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

input[type="email"]:focus {
    outline: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

label[for="email"] {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
}

input[type="email"]:focus+label,
input[type="email"]:valid+label {
    top: -10px;
    transform: translateY(0%);
    font-size: 15px;
    font-weight: bold;
    color: var(--fontColer);
}

.input-container textarea {
    width: 100%;
}

/* -------------------------------------- */
/* phần câu hỏi */
.container-question {
    width: 60%;
    background-color: #c8d3db;
    margin-left: 5px;
}

.ques-item {
    border-top: 2px solid var(--fontColer);
}

.ques-item:first-child {
    border: none;
}


/* Câu hỏi thường gặp */
.section-ques h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.section-ques .ques-item .ans {
    /* display: none; */
    max-height: 0;
    opacity: 0;
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 5px;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.section-ques .ques-item .ans.show {
    /* display: block; */
    max-height: 200px;
    opacity: 1;
}

.section-ques .ques-item {
    position: relative;
    cursor: pointer;
    margin: 22px;
}

.section-ques .ques-item .arrow-circle {
    position: absolute;
    right: 0;
    /* cursor: pointer; */
    transition: transform 0.5s ease;
}

.section-ques .ques-item .arrow-circle i {
    display: inline-block;
    width: 16px;
    height: 16px;
    transition: transform 0.5s ease;
}

.section-ques .ques-item .arrow-circle i.rotate {
    transform: rotate(180deg);
}

.img-intro {
    position: relative;
    width: 100%;
    height: 300px;
}

.img-intro>img {
    height: 300px;
    width: 100%;
    background: rgba(27, 4, 4, 0.3);
    opacity: 0.3;

}

.it-major-header {
    position: absolute;
    top: 180%;
    left: 4%;
}

.it-major-header h2 {
    color: var(--fontColer);
    font-size: 68px;
    letter-spacing: 1px;
    text-shadow: 0 1px black;
}

.it-major-header p {
    color: var(--fontColer);
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-shadow: 0 1px black;
    font-style: italic;
}

/* mấy cái đia chỉ */
.container-adress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10%;
    /*trên dưới 0 , trái phải auto */
    padding: 0 20px;
}

.adress-items {
    width: 47%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.adress-item {
    
    padding: 20px;
    border-radius: 5px;
}

.district {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info li {
    margin-bottom: 10px;
    font-size: 14px;
}

.map {
    margin-top: 10px;
    /* height: 20px; */
}
