.apply .apply-img {
    width: 40%;
    display: none;
}
.apply .apply-table {
    width: 100%;
}
.container {
    /* max-width: 1300px; */
    margin: 0 5px;
    padding: 0 0px;
    display: flex;
}
.table {
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        margin: 0 0px;
        padding: 0 10px;
}