:root {
    --fontColer : #094183;;
  }
/* phần index */

div.course-img {
    width: 100%;
}

.course-info {
    width: 100%;
}

.course-box {
    margin-bottom: 8%;
    display: block;
}
.courses hr.thanhnho {
    width: 60%;
    height: 7px;
    border-radius: 10px;
    margin: 1px 8% 20px ;
    /* align-items: center; */
    background-color:antiquewhite;
}
.courses .btn {
    width: 205px;
    margin: 0 15% 30px 15%;
}

.course-img img {
    width: 105%;
    transition: all 0.3s ease;
    margin-top: 8%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    /* border: 10px solid var(--fontColer); */
}

.course-img img:first-child {
    margin-top: 0px;
}

.row  .col-4:nth-child(2) img{
    position: relative;
    top: -410px;
}
.row  .col-4:nth-child(2) .course-info{
    position: relative;
    top: 280px;
}
.partners .row{
    display: block;
}
.partners .row .col-3 {
    max-width: 100%;
    padding: 10px 10px;
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
/* ------------------------------------------------------------------------------------------------------ */
/* phần giới thiệu  */
.introduce .container{
    display: block;
}
.introduce .topic {
    width: 100%;
    text-align: center;
}
.introduce .topic h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    /* border-bottom: 2px solid #333; */
    padding-top: 40px;
}
.introduce hr.thanhnho {
    width: 60%;
    height: 7px;
    border-radius: 10px;
    margin: 1px 20% 20px 20% ;
    /* align-items: center; */
    background-color:var(--fontColer);
}
.introduce .info {
    width: 100%;
    padding: 2% 0px;
}
.prize .container {
    /* max-width: 1300px; */
    margin: 0 10%;
    padding: 0 20px;
    display: block;
    /* flex-direction: column; */
    max-height: 500px;
}
.my-lord-icon{
    width: 100px !important;
    height: 250px;
    left: 0% !important;
    margin-top: -35px;
    display: none;
}
.prizes .prize .info {
    margin-top: 20px;
    width: 100%;
    padding: 0 5% 10% 5%;
}
.prizes .prize .container .prize-image img {
    width: 100%;
    height: 300px;
    transition: all 0.3s ease;
    opacity: 0.3;
}
.prizes .prize .container .prize-image img:hover {
    width: 100%;
    height: 300px;
    transition: all 0.3s ease;
    opacity: 1;
}
.prizes .prize .prize-image {
    width: 100%;
    overflow: hidden;
}
.prizes .prize:nth-child(odd) .prize-image {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -240px;
}

.prizes .prize:nth-child(even) .info  {
    width: 100%;
    position: relative ;
    top: -270px ;
}
.prizes hr.thanhlon {
    width: 60%;
    height: 10px;
    background-color: var(--fontColer);
    border-radius: 10px;
    margin: 0 20% 20% 20%;
}
