:root {
	--mainColor: #000f46;
	--coursesColor: #edf2f5;
	--fontSize-Heading: 2.4rem;
    --fontSize-Content: 1.1rem;
}

/* PC */
@media only screen and (min-width: 1024px) {
   /* ============ MAJORS RESPONSIVE ========== */
   header {
      height: 76px !important;
   }

   .logo.mobile {
      display: none;
   }

   div.logo img {
      height: 100% !important;
   }

   div.search-icon {
      padding: 0.4rem 1.1rem;
   }

   .nav-mobile-btn {
      display: none;
   }

   .sub-nav {
      display: none;
  }

   /* FOOTER SET */
   .top-footer {
      display: flex;
      align-items: center;
      /* padding: 6rem 0 3rem 0; */
      border-bottom: 1px solid #757474;
   }

   .mid-footer {
      padding: 4rem 0 2rem 0;
      border-bottom: 1px solid #757474;
   }

   /* ============ CTDT RESPONSIVE ========== */
}


/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   /* ============ MAJORS RESPONSIVE ========== */
   /* HEADER SET */
   .logo.mobile {
      display: none;
   }
   
   body {
      position: relative;
   }

   ul.menu {
      display: none;
   }

   /* SUB NAV MENU */
   .sub-nav {
      display: none;
      position: absolute;
      background-color: var(--mainColor);
      box-shadow: 0 0 5px rgba(0, 0, 0, 4);
      right: 0;
      left: 50%;
      top: 0;
      height: 100vh;
   }

   .open-nav {
      display: block;
   }

   .sub-nav-content {
      display: block;
   }

   .sub-nav-content ul {
      flex-direction: column;
      margin-top: 20%;
   }

   .sub-nav-content ul a {
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 1.5rem;
      border-bottom: 1px solid #fff;
      color: #fff;
   }

   .close-nav {
      display: block;
      padding: 1rem;
      font-size: 2.5rem;
      color: #fff;
      background: #232e53;
   }

   .close-nav i {
      font-size: 1.8rem;
   }

   .close-nav:hover {
      cursor: pointer;
      opacity: 0.9;
   }

   .search-icon {
      display: none;
   }

   .nav-mobile-btn {
      color: #fff;
      font-size: 1.3rem;
      padding: 1.1rem;
   }
   /* END SUB NAV MENU */
   

   .it-major-header.info-system {
      top: 2%;
      left: 4%;
   }

   /* INTRODUCE SET */
   .section-join__left {
      
   }

   .section-join__right {
      width: 50% !important;
   }

   div.section-join__right > img {
      height: auto;
   }

   div.info-major-item {
      width: 100%;
   }

   /* SPECIAL CONTENT SET */
   .special-contents .special-content {
      width: 48% !important;
      margin-left: 0.5rem;
   }

   /* CONTACT SET */
   .contact-section {
      flex-direction: column;
  }

   .contact-left {
      width: 100% !important;
   }

   .contact-right {
      width: 100% !important;
      margin-left: 0;
   }

   .form-items {
      flex-direction: column;
   }

   .form-items div.input-item:nth-child(2) {
      margin-top: 1rem;
   }
   
   .contact-form input {
      width: 100%;
   }

   /* QUOTES SET */
   #quote-container {
      flex-direction: column;
   }

   .quote-left {
      width: 100% !important;
      margin: 0 0.9rem;
   }

   .quote-right {
      width: 100% !important;
   }

   .quote-left h2 {
      font-size: 1.75rem;
   }

   a.register-btn-major {
      margin: 4rem 0 4rem 30rem;
   }

   /* ============ CTDT RESPONSIVE ========== */
   /* WELCOME SLIDER SET */
   div.welcome-info > h2 {
      font-size: 2.6rem;
   }

   ul.top-search-lists {
      flex-direction: column;
   }

   ul.top-search-lists li {
      padding: 0.8rem;
   }

   .welcome-img img {
      object-fit: cover;
   }

   /* COURSES SET */
   div#content div.courses {
      width: unset;
      margin: 0;
      flex-wrap: wrap;
   }

   div#content div.course {
      width: 50% !important;
   }

   a.name-course h2 {
      font-size: 1.5rem;
   }

   .desc-course p {
      font-size: 1rem;
   }

   /* JOIN SET */
   div.section-join.ctdt > .section-join__left {
      margin-left: 0;
   }

   div.section-join.ctdt > .section-join__right img {
      object-fit: cover;
      height: 100%;
   }

   /* CONTAINER MAJOR SET */
   .container-major.ctdt {
      width: 90% !important;
      padding: 4.2rem 0;
   }

   .majors.ctdt {
      justify-content: space-between;
   }

   .majors.ctdt img {
      border-radius: 0.6rem;
   }

   div.majors.ctdt h3 {
      text-align: center;
   }

   .majors.ctdt .major-cell {
      width: 46.8%;
      margin: 1rem 0;
   }

   /* VIDEO SET */
   .passion.ctdt .passion-center {
      width: 90%;
   }

   .passion.ctdt .passion-center > .section-join__left {
      width: 100%;
      margin: 0;
      padding: 0 1.2rem 0 0;
   }

   .passion.ctdt .passion-video {
      width: 182%;
      text-align: center;
   }

   .passion.ctdt .passion-video > iframe {
      width: 100%;
   }

   /* BAT DAU VOI OU */
   .info-container.ctdt {

   }

   .info-container.ctdt img {
      height: 100%;
      object-fit: cover;
   }

   .info-container.ctdt .right {
      margin-top: 0;
      width: 70% !important;
      padding: 4rem 0rem 4rem 0;
   }

   .info-container.ctdt .info-lists {
      width: 90%;
   }
}


/* Mobile */
@media only screen and (max-width: 740px) {
   /* ============ MAJORS RESPONSIVE ========== */
   /* HEADER SET */
   header div.logo img {
      display: none;
   }

   .logo.mobile {
      display: block;
      width: 240px;
      height: 224px;
      padding-left: 0.4rem;
      margin: 0 auto;
   }

   .logo.mobile img {
      display: block;
      width: 100%;
      height: 100%;
   }
   
   body {
      position: relative;
   }

   ul.menu {
      display: none;
   }

   /* SUB NAV MENU */
   .sub-nav {
      display: none;
      position: absolute;
      background-color: var(--mainColor);
      box-shadow: 0 0 5px rgba(0, 0, 0, 4);
      right: 0;
      left: 30%;
      top: 0;
      height: 100vh;
      cursor: pointer;
   }

   .open-nav {
      display: block;
   }

   .sub-nav-content {
      display: block;
      
   }

   .sub-nav-content ul {
      flex-direction: column;
   }

   .sub-nav-content ul a {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      padding: 1.5rem;
      border-bottom: 1px solid #fff;
      color: #fff;
   }

   .close-nav {
      display: block;
      padding: 1rem;
      font-size: 2.5rem;
      color: #fff;
      background: #232e53;
   }

   .close-nav i {
      font-size: 1.8rem;
   }

   .close-nav:hover {
      cursor: pointer;
      opacity: 0.9;
   }

   .search-icon {
      display: none;
   }

   .nav-mobile-btn {
      color: #fff;
      font-size: 1.3rem;
      padding: 1.3rem;
   }

   /* END SUB NAV MENU */


   /* SLIDER SET */
   #header-major-container {  
      position: relative;
   }

   .it-major-header {
      position: absolute;
      font-size: 0.8rem;
  }

  .it-major-header h2 {
      font-size: 2.1rem;
  }

  .it-major-header p {
      font-size: 1.1rem;
      margin-top: 1.6rem;
  }

  .it-major-header.info-system {
      top: 40%;
  }

  /* INTRODUCE SET */

   div.section-join {
      flex-direction: column;
   }

   .section-join__left {
      width: 100% !important;
   }

   .section-join__right {
      width: 100% !important;
   }

   .info-major-item {
      width: 100% !important;
   }

   /* SPECIAL CONTENT SET */
   .special-contents .special-content {
      width: 100% !important;
   }


   /* NANG LUC DAU RA */
   .section-output-ability {
      flex-direction: column;
   }

   .section-left {
      width: 100% !important;
   }

   .section-right {
      width: 100% !important;
      margin: 4rem 0 0 0;
   }

   /* CARREER SET */
   .carreer-heading {
      flex-direction: column;
   }

   .carreer-heading {
      margin-bottom: 3rem;
   }

   .carreer-heading h2 {
      width: 100% !important;
   }

   .carreer-heading span {
      width: 100% !important;
      margin-top: 1rem;
   }

  /* CONTACT SET */
  .contact-section {
      flex-direction: column;
  }

  .contact-left {
      width: 100% !important;
  }

  .contact-right {
      width: 100% !important;
      margin-left: 0;
  }

  .form-items {
      flex-direction: column;
  }

  .form-items div.input-item:nth-child(2) {
      margin-top: 1rem;
   }

  .contact-form input {
      width: 100%;
  }

  /* QUOTES SET */
  #quote-container {
      flex-direction: column;
}

   .quote-left {
      width: 100% !important;
      margin: 0 0.9rem;
   }

   .quote-right {
      width: 100% !important;
   }

   .quote-left h2 {
      font-size: 1.75rem;
   }

   a.register-btn-major {
      margin: 1rem 0 1rem 0;
      padding: 1rem 0;
      width: 100%
   }

   /* FOOTER SET */
   .top-footer {
      flex-direction: column;
      
      text-align: center;
   }

   .top-footer-contact {
      width: 50% !important;
      margin-bottom: 1rem;
      font-size: 1.2rem;
   }

   .top-footer-contact span > i {
      display: none;
   }

   .mid-footer {
      flex-wrap: wrap;
   }

   .mid-footer div:first-child {
      padding-left: 0;
   }

   .bottom-footer {
      flex-direction: column;
      align-items: unset;
   }

   .bottom-footer > h3, .bottom-footer > p, .bottom-footer > p {
      margin-bottom: 0.6rem;
   }

   /* ============ CTDT RESPONSIVE ========== */
   /* WELCOME SLIDER SET */
   .welcome-slider {
      flex-direction: column-reverse;
   }

   .welcome-info {
      width: 90% !important;
      margin: 0 auto;
      padding: 2rem 0;
   }

   .welcome-img {
      width: 100% !important;
   }

   div.welcome-info > h2 {
      font-size:  rem;
   }

   ul.top-search-lists {
      flex-direction: column;
   }

   ul.top-search-lists li {
      padding: 0.8rem;
   }

   .welcome-img img {
      object-fit: cover;
   }

   /* COURSES SET */
   div#content div.courses {
      width: unset;
      margin: 0;
      flex-wrap: wrap;
   }

   div#content div.course {
      width: 100% !important;
   }

   a.name-course h2 {
      font-size: 1.5rem;
   }

   .desc-course p {
      font-size: 1rem;
   }

   /* JOIN SET */
   div.section-join.ctdt {
      flex-direction: column-reverse;
   }

   div.section-join.ctdt > .section-join__left {
      width: 85% !important;
      padding: 3rem 0;
      margin: 0 auto;
   }

   div.section-join.ctdt > .section-join__left > h2 {
      font-size: 1.6rem;
   }

   div.section-join.ctdt > .section-join__right img {
      object-fit: cover;
      height: 100%;
   }

   div.section-join.ctdt a.register-btn {
      padding: 12px 28px;
   }

   /* CONTAINER MAJOR SET */
   .container-major.ctdt {
      width: 85% !important;
      margin: 0 auto;
      padding: 0.6rem 0;
   }

   .container-major.ctdt > h2.major-path {
      font-size: 1.6rem;
      margin-bottom: 1rem;
   }

   .majors.ctdt {
      justify-content: space-between;
   }

   .majors.ctdt img {
      border-radius: 0.6rem;
   }

   div.majors.ctdt h3 {
      text-align: center;
   }

   .majors.ctdt .major-cell {
      width: 100%;
      margin: 0 0 2rem 0;
   }

   /* VIDEO SET */
   .passion.ctdt .passion-center {
      flex-direction: column;
      width: 85%;
      margin: 0 auto;
      padding: 3.2rem 0;
   }

   .passion.ctdt .passion-h2 {
      font-size: 1.6rem;
   }

   .passion.ctdt .passion-center > .section-join__left {
      width: 100%;
      margin: 0;
      padding: 0;
   }

   .passion.ctdt .passion-video {
      margin-top: 1.6rem;
      width: 100%;
      text-align: center;
   }

   .passion.ctdt .passion-video > iframe {
      width: 100%;
   }

   /* BAT DAU VOI OU */
   .info-container.ctdt {
      flex-direction: column;
   }

   .info-container.ctdt h3 {
      font-size: 1.6rem;
   }

   .info-container.ctdt li.info-list a {
      font-size: 1rem;
   }

   .info-container.ctdt .left {
      width: 100% !important;
   }

   .info-container.ctdt img {
      width: 100%;
   }

   .info-container.ctdt .right {
      width: 85% !important;
      margin: 0 auto;
      padding: 2rem 0;
   }

   .info-container.ctdt .info-lists {
      width: 100%;
      margin-right: 0 !important;
   }
}
